[submodule "ansible/roles/ludus_adcs"]
	path = ansible/roles/ludus_adcs
	url = https://github.com/badsectorlabs/ludus_adcs.git
[submodule "ansible/roles/ludus_flarevm"]
	path = ansible/roles/ludus_flarevm
	url = https://github.com/badsectorlabs/ludus_flarevm.git
[submodule "ansible/collections/ludus_windows_utils"]
	path = ansible/collections/ludus_windows_utils
	url = https://github.com/badsectorlabs/ludus_windows_utils.git
